<%= form_with(model: language, local: true) do |form| %>
  <% if language.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% language.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal">

    <div class="form-group">
      <%= form.label :name, 'Name:', class: 'control-label col-md-2 col-md-offset-1' %>
      <div class="col-md-6">
        <%= form.text_field :name, class: 'form-control', placeholder:'Name', required: true, autofocus: true %>
      </div>
    </div>

    <% label = params[:id].present? ? 'Update Language' : 'Create Language' %>
    <div class="form-group actions">
      <div class='row'>
        <div class="col-md-3 col-md-offset-3">
          <%= form.submit "#{label}", class:'btn btn-info' %>
        </div>
        <div class="col-md-2 col-md-offset-3">
          <%= link_to 'Back', languages_path, class:'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
